@using Sol_DI.Core.Context
@inject Sol_DI.Core.Context.ITaskContext taskContext


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container">
    <div class="row">

        <div class="col-4">

            <div class="card">
                <div class="card-header">
                    Total Tasks
                </div>
                <div class="card-body">
                    <h5>@await taskContext.TotalTaskAsync() </h5>
                </div>
            </div>

        </div>

        <div class="col-4">

            <div class="card">
                <div class="card-header">
                    Complete Tasks
                </div>
                <div class="card-body">
                    <h5>@await taskContext.CompletedTaskAsync()</h5>
                </div>
            </div>

        </div>

        <div class="col-4">

            <div class="card">
                <div class="card-header">
                    Pending Tasks
                </div>
                <div class="card-body">
                    <h5>@await  taskContext.PendingTaskAsync()</h5>
                </div>
            </div>

        </div>

    </div>
</div>

